{% extends 'main/base.html' %}

    {% block main %}
        <div class="line__container"></div>
        <section class="news full-screen">
            <div class="news__container">
                <div class="news__content first-content">
                    <h2 class="news__title title"><span class="decor">Новости</span></h2>
                    <div class="news__row news-row">
                    {% for news in news_from_db %}
                        <a href="{{ news.get_absolute_url }}" class="news-row__item">
                            <div class="news-row-item__date"><span class="date-block date">{{ news.news_date | date:"d.m.Y" }}</span></div>
                            <h3 class="news-row-item__title">{{ news.news_title }}</h3>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <div class="line__container"></div>
    {% endblock %}